@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.card-text{
    font-family: 'Poppins', sans-serif;
}

.button{
    position: absolute;
    right: 3em;
    top:1.8em;
    font-family: 'Poppins', sans-serif;
   
}

.button span{
    color: white;
    text-decoration: none;
    
}



.examCard{
    margin-top: 1em;
     margin-bottom: 1em;
}