.cardQuestion{
    position: relative;
    top: 4em;
    width: 100%;
    height: 15em;
    border-radius: 0px !important;
}
.question{
margin-top: 1em;
margin-left: 1em;
}
.answer{
 position: absolute;
 left: 5em;
 top:4em;
}

.timedown p{
    position: absolute;
    bottom : -9em;
    right: 25em;
}
.gonder{
    position: relative;
    left: 50em;
    top:7em;
    margin-bottom: 15em;
}