.form{
    position: relative;
    left: 3em;
    width: 50em;
    height: 3em;
}

.form input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.form label{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.form label i{
    position: absolute;
    height: 100%;
    width: 10%;
    right:0;
    top: 0;
    background-color: #231f20;
    color: white;
}
.bi-search::before{
    position: relative;
    left: 2em;
    top: 0.6em;
}
.form-control:focus {
    border-color: #231f20 !important;
    box-shadow: 0 0 0 0.2rem rgba(35, 31, 32, 0.25) !important;
} 
